<article class="bg-zinc-900 text-white pb-24">
    <h2 class="px-4 py-8 text-2xl text-center">FAQ</h2>
    <ul class="px-4 py-8 space-y-16 max-w-xl mx-auto">
        <li class="space-y-2">
            <h3 class="text-xl">What is this?</h3>
            <p class="text-zinc-300">
                This is a simple calculator for testing semver ranges against a
                package's versions.
            </p>
        </li>
        <li class="space-y-2">
            <h3 class="text-xl">Why? semver.npmjs.com is already a thing.</h3>
            <p class="text-zinc-300">
                Sometimes it's fun to rewrite a site using a different
                technology stack. This clone should look cooler and run
                blazingly™ faster.
            </p>
        </li>
        <li class="space-y-2">
            <h3 class="text-xl">What is the site built with?</h3>
            <p class="text-zinc-300">
                This site is built with <a class="text-purple-400 dark:text-white underline"
                    href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a> and <a
                    class="text-purple-400 dark:text-white underline" href="https://tailwindcss.com"
                    target="_blank" rel="noopener noreferrer">Tailwind</a>, and is deployed to <a
                    class="text-purple-400 dark:text-white underline" href="https://https://developers.cloudflare.com/workers/"
                    target="_blank" rel="noopener noreferrer">Cloudflare Workers</a>.
            </p>
        </li>
        <li class="space-y-2">
            <h3 class="text-xl">Where can I find the source code?</h3>
            <p class="text-zinc-300">
                The source code is available on <a class="text-purple-400 dark:text-white underline"
                    href="https://github.com/TheOtterlord/semver" target="_blank" rel="noopener noreferrer">GitHub</a>.
            </p>
        </li>
    </ul>
</article>