<header class="my-16">
    <h1 class="text-4xl text-center">
        <svg viewBox="0 0 24 24" class="w-16 h-16 inline-block text-red-500" astro-icon="mdi:npm">
            <path fill="currentColor"
                d="M4 10v4h2v-3h1v3h1v-4H4m5 0v5h2v-1h2v-4H9m3 1v2h-1v-2h1m2-1v4h2v-3h1v3h1v-3h1v3h1v-4h-6M3 9h18v6h-9v1H8v-1H3V9z">
            </path>
        </svg>
        Semver Calculator
    </h1>
    <p class="text-center dark:text-slate-300">
        Learn more about <a class="text-purple-600 dark:text-white underline"
        href="https://docs.npmjs.com/getting-started/semantic-versioning" target="_blank"
        rel="noopener noreferrer">semantic versioning</a>.
    </p>
</header>